@import './basic';
@import './reset';
@import './color';

#main-app {
  height: 100%;
}

// Mobile first

// navbar
.navbar {
  position: fixed;
  width: 100%;
  height: 56px;
  z-index: 999;
  background-color: var(--body-bg);
  @extend %standard-box-shadow;

  &__brand {
    width: 135px;
  }

  &__toggle:checked~&__menu {
    transform: scale(1, 1);
  }

  &__toggle:checked~&__menu &__menu__item {
    display: flex;
    justify-content: center;
    transition: opacity 0.15s ease-out 0.15s;
  }

  &__toggle {
    display: none;
  }

  &__toggle-label {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    filter: var(--icon-brightness);
  }

  &__menu {
    position: relative;
    top: 100%;
    display: flex;
    flex-flow: column wrap;
    transform: scale(1, 1);
    transform-origin: top;

    &__item {
      display: none;
      margin: 0 auto;
      padding: 30px;
      width: 90%;
      text-align: center;
      border-bottom: 1px solid var(--light-gray);
      background-color: var(--body-bg);
    }

    &__item:last-child {
      border-bottom: none;
    }
  }

  .search,
  .cart,
  .dark-mode {
    filter: var(--icon-brightness);
  }

  .dark-mode {
    width: 20px;
    height: 20px;

    &__label {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

// main-content
// step-panel
#main-content {
  margin: 0 auto;
  padding-top: 5rem;
  width: 100%;
  min-width: 300px;
  max-width: 375px;

  .stepper {
    width: 85%;
    margin: 0 auto;

    &__container {
      position: relative;
      display: flex;
      justify-content: space-between;
    }
  }
}

.stepper__step {
  @include getStepNum(3);

  &__circle-container {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    background-color: var(--body-bg);
    color: var(--gray);
    border: 1px solid var(--gray);
    font-weight: 400;
    line-height: 2rem;
  }

  &.checked>&__circle-container::after {
    content: "\2714";
    color: var(--circle-container-color);
  }

  &.checked>&__circle-container,
  &.active>&__circle-container {
    background-color: var(--circle-container-bg);
    color: var(--circle-container-color);
    border: none;
  }

  &__connect-line {
    position: absolute;
    top: 50%;
    display: block;
    width: calc((50% - 32px - 16px)/2);
    height: 0.1rem;
    background-color: var(--gray);
  }

  .line-one {
    right: calc(50% + 16px);
    transform: translateX(-50%);
  }

  .line-two {
    left: calc(50% + 16px);
    transform: translateX(50%);
  }

  &.active>&__connect-line {
    background-color: var(--main-color);
  }

  &__label {
    display: none;
  }
}

// form-panel
.form-panel__container {
  margin: 0 auto;
  width: 85%;
}

select {
  width: 100%;
  cursor: pointer;
  @extend %input-style;
}

select:invalid {
  color: var(--input-placeholder);
}

label {
  width: 100%;
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
  color: var(--label);
  font-weight: 500;
}

input {
  @extend %input-style;
}

.form-content__part {
  margin: 2rem auto;

  &__destination {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .form-row {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      margin: 0.5rem 0;

      &__select-wrapper {
        padding: 0;
        @extend %input-style;
        @extend %input-select-triangle;
      }
    }

    .form-row.gender-row {
      width: 35%;
    }

    .form-row.name-row {
      width: 60%;
    }
  }


  &__shipping {
    .shipping__form-row {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px auto;
      padding: 6px 10px;
      height: 60px;
      width: 100%;
      border: 1px solid var(--light-gray);
      border-radius: 8px;

      input[type="radio"] {
        height: 0;
        margin-right: 0.8rem;
        padding: 0.4rem;
        border-radius: 50%;

        &:checked {
          box-shadow: inset 0 0 0 4px var(--main-color);
        }
      }
    }

    .shipping__form-row input[type="radio"]:checked::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      border: 1px solid var(--main-color);
      font-weight: 700;
    }

    .shipping__form-row>label {
      margin: 0;
      color: var(--main-color);

      .shipping-method {
        font-size: 14px;
        margin-bottom: 4px;
      }

      .shipping-time {
        font-weight: 300;
      }
    }

    span {
      width: 100%;
      text-align: right;
      font-size: 0.8rem;
    }
  }

  &__payment {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .form-row {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      margin: 0.5rem 0;
    }

    .form-row.valid-date-row {
      width: 45%;
    }

    .form-row.cvc-row {
      width: 46%;
    }
  }
}

// cart-panel
.cart-panel {
  width: 85%;
  margin: 0 auto 2rem auto;
  border: 1px solid var(--cart-border);
  border-radius: 0.5rem;
  background-color: var(--cart-bg);

  .cart__product {
    display: flex;
    flex-direction: column;

    &__title {
      display: none;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      padding: 0.9rem 0.9rem 0;
      text-align: right;

      .product-img {
        width: 6.25rem;
        height: 6.25rem;
        background-size: cover;
        background-position: center;

        >img {
          border-radius: 0.4rem;
        }
      }

      .product-details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__name {
          font-size: 1rem;
          font-weight: 400;
        }

        &__amount {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          font-weight: 500;

          .amount__add,
          .amount__minus {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: var(--amount-btn-color);
            text-align: center;
          }

          .amount__count {
            margin: 0 1.8rem;
            font-size: 0.9rem;
          }
        }

        &__price {
          font-weight: 700;

          &::before {
            content: "$ ";
          }
        }
      }
    }
  }

  .cart__delivery,
  .cart__subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem auto 0 auto;
    width: 90%;
    border-top: 1px solid var(--cart-border);
    font-size: 0.9rem;

    .delivery-price,
    .subtotal-price {
      font-weight: 700;
      font-size: 0.9rem;
    }

    .subtotal-price::before {
      content: "$ ";
    }
  }

  .cart__delivery {
    padding: 1rem 0 0;
  }

  .cart__subtotal {
    padding: 1rem 0;
  }
}

// btn-panel
.btn-control-panel {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 1rem auto;
  padding: 1.5rem 0;
  border-top: 1px solid var(--btn-panel-border);

  .btn {
    width: 100%;
    height: 40px;
    border-radius: 8px;
  }

  .previous {
    background-color: var(--body-bg);
    color: var(--main-color);
    text-align: left;
  }

  .next {
    color: #fff;
    background-color: var(--primary-color);
  }


}

// footer
footer {
  display: none;
}

// Desktop
@media screen and (min-width: 1080px) {

  .navbar {

    &__toggle-label,
    &__toggle {
      display: none;
    }

    &__brand {
      width: 170px;
      margin: 0 2rem;
    }

    &__menu {
      max-width: 1200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: grid;
      grid-template-columns: 0.5fr 0.5fr repeat(3, 1fr) 3fr 5fr;
      align-items: start;
      gap: 1rem;
      width: 95%;
      padding: 0 1.5rem;
      background-color: transparent;

      &__item {
        display: block;
        padding: 0;
        width: initial;
        background-color: transparent;
        border: initial;
      }

      &__item:last-child {
        position: absolute;
        right: 2rem;
        display: flex;

        .menu__item__link {
          margin-left: 0.5rem;
        }
      }
    }
  }

  #main-content {
    max-width: 1200px;
    width: 98%;
    display: grid;
    grid-template-columns: 50% 45%;
    gap: 2%;
    grid-template-rows: 10% 70% 20%;
    justify-content: space-between;

    .stepper {
      // grid-row-start / grid-column-start / grid-row-end / grid-column-end
      grid-area: 1 / 1 / 1 / 2;
      margin: 1.5rem auto;

      .stepper__step {
        display: flex;
        align-items: center;

        &__circle-container {
          width: 1.5rem;
          height: 1.5rem;
          aspect-ratio: 1/1;
          margin: 0 0.1rem 0;
          line-height: 1;
          padding-top: 0.2rem;
        }

        &__connect-line {
          position: absolute;
          width: calc((50% - 24px - 12px - 16px * 4)/2);
        }

        .line-one {
          right: calc(50% + 12px + 15px);
          transform: translateX(-50%);
        }

        .line-two {
          left: calc(50% + 12px + 15px);
          transform: translateX(50%);
        }

        &__label {
          display: block;
          margin: 0;
          margin-left: 0.3rem;
          font-size: 1rem;
          color: var(--main-color);
        }
      }
    }

    .form-panel {
      grid-area: 2 / 1 / 2 / 1;

      .form-content__part {
        margin: 5rem auto 1rem auto;

        &__destination {
          .form-row.gender-row {
            width: 30%;
          }

          .form-row.name-row {
            width: 65%;
          }

          .form-row.tel-row {
            width: 47.5%;
          }

          .form-row.email-row {
            width: 47.5%;
          }

          .form-row.county-row {
            width: 30%;
          }

          .form-row.address-row {
            width: 65%;
          }
        }

        &__payment {
          .form-row.card-holder-row {
            width: 65%;
          }

          .form-row.card-num-row {
            width: 65%;
          }
        }
      }
    }

    .cart-panel {
      grid-area: 2 / 2 / span 3 / 2;
      height: 91%;
      margin: 0 auto;

      .cart__product {

        &__title {
          display: block;
          width: 90%;
          margin: 2rem auto;
        }

        &__row {
          position: relative;
          justify-content: flex-start;
          width: 90%;
          padding: 0;
          margin: 1rem auto;
          text-align: initial;
          align-items: flex-start;

          .product-details {
            margin: 0 1rem;

            &__name {
              margin: 0 0 1rem;
            }

            &__price {
              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }
      }

      .cart__delivery,
      .cart__subtotal {
        padding: 1.5rem 0;
      }
    }


    .btn-control-panel {
      position: relative;
      grid-area: 3 / 1 / 3 / 1;

      .btn {
        width: 35%;
        height: 40px;
        border-radius: 8px;
      }

      .next {
        position: absolute;
        right: 0;
      }
    }
  }

  footer {
    display: block;
    margin: 8rem auto 0 auto;
    height: 16rem;
    width: 100%;
    background-color: var(--footer-bg);

    .footer__container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 95%;
      max-width: 1200px;
      margin: 0 auto;

      .navbar__brand__logo {
        width: 10.5rem;
      }

      &__list {
        height: 40%;

        &__title {
          margin-bottom: 1.5rem;
          color: var(--main-color);
          font-size: 1.5rem;
          font-weight: 700;
        }

        &__item {
          color: var(--footer-color);
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
        }

        .icon-list {
          display: flex;
          margin: 0.5rem 0;
        }
      }
    }
  }
}